body{
  background-color: #eeeeee;
}
.btn1{
	margin-left: 2px;
}
.log{
	text-align: center;
}
.form-popup {
	display: flex;
	position: fixed;
	left: 45%;
  overflow: auto;
	transform: translate(-45%,5%);
}
/* Add styles to the form container */
.form-container {
	background-color: white;
	border-radius: 5%;
	width: 100%;
	padding: 15px;
}

/* Full-width input fields */
input {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
}

/* When the inputs get focus, do something */
input:focus {
  background-color: lightgrey;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}